<div class="row">
  <div class="col-md-8">
    <ag-grid-angular style="width: 100%; height: 500px" class="ag-theme-balham" [gridOptions]="gridOptions">
    </ag-grid-angular>
  </div>

  <div class="col-md-4">
    <div class="card mb-3">
      <div class="card-body" *ngIf="!showForm">
          <div class="card-text text-center">
            <button class="btn btn-primary" (click)="showForm = true;"><i class="fa fa-plus mr-2"></i>Agregar Nuevo</button>
          </div>
      </div>
      <div class="card-body" *ngIf="showForm">
        <h5 class="card-title">Agregar Producto</h5>
        <div class="card-text">
          <form [formGroup]="form" (ngSubmit)="onSubmitForm()" novalidate>
            <div class="form-group">
              <label for="image">Imagen</label>
              <input type="text" class="form-control" id="image" formControlName="image" placeholder="Ingrese el nombre de la imagen"/>
            </div>
            <div class="form-group mandatory-field">
              <label for="name">Nombre</label>
              <input type="text" class="form-control" id="name" formControlName="name" placeholder="Ingrese el nombre del producto"/>
            </div>
            <div class="form-group mandatory-field">
              <label for="isVisible">Es Visible en contabilidad</label>
              <select class="form-control" id="isVisible" formControlName="isVisible">
                <option value="false">No</option>
                <option value="true">Si</option>
              </select>
            </div>
            <div class="form-group mandatory-field">
              <label for="needsSeller">Necesita Vendedor</label>
              <select class="form-control" id="needsSeller" formControlName="needsSeller">
                <option value="false">No</option>
                <option value="true">Si</option>
              </select>
            </div>
            <div class="form-group mandatory-field">
              <label for="needsInventory">Necesita Inventario</label>
              <select class="form-control" id="needsInventory" formControlName="needsInventory" (change)="onNeedsInventory($event)">
                <option value="false">No</option>
                <option value="true">Si</option>
              </select>
            </div>
            <div class="form-group mandatory-field" *ngIf="form.controls.needsInventory.value === 'true'">
              <label for="quantity">Cantidad</label>
              <input type="number" class="form-control" id="quantity" formControlName="quantity" placeholder="Ingrese la cantidad"/>
            </div>
            <div class="form-group mandatory-field">
              <label for="name">Etiquetas</label>
              <input type="text" class="form-control" id="tags" formControlName="tags" placeholder="Ingrese las etiquetas separadas por comas"/>
            </div>
            <div class="form-group text-center">
              <button type="submit" class="btn btn-primary"><i class="fa fa-plus mr-2"></i>Agregar</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row mt-2">
  <div class="col-md-12">
    <button class="btn btn-info mr-2" (click)="loadInventoryFile.click()"><i class="fa fa-folder-open mr-2"></i>Cargar Inventario</button>
    <input #loadInventoryFile type="file" style="display:none" class="custom-file-input" (change)="onLoadInventory($event)">
    <button class="btn btn-info" (click)="onSaveInventory()"><i class="fa fa-save mr-2"></i>Guardar Cambios</button>
  </div>
</div>