.product-button:hover:not([disabled]) {
    .product-image {
        filter: invert(100%); 
    }
}
.product-button, .seller-button {
    width: 100px;
    .product-name, .seller-name {
        font-size: 0.7em;
    }
}
:host ::ng-deep {
    .ngb-dp-today {
        .btn-light {
            color: red;
        }
    }
}